
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.gram{
  padding-left: 30px;
}
.mainnav{
  height:10%;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  border-bottom:1px solid gray;
  overflow: hidden;

  
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-left: 3px;
  max-height: 60px;
}
.liq{
  width: 700px;
}
.linumber{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  
  font-size: 1.2vw;
  max-height: 70px;
  

}
.dropimg{
  height: 95px;
  border-right: 1px solid gray;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchicon{
  
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.simg{
  
  
  border-left:1px solid gray;
  padding-left: 10px;
}

.dropimg:hover {
  cursor:pointer;
}

.closebtn{
  max-width: 10px;
  max-height: 10px;
}
.drspan{
  height: 2px;
  width: 2px;
  color: blue;
}
.dimg{ filter: invert(100%); }

.gallry{
  display: flex;
  
}
.fimage{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 56vh;
  background-color: violet;
}
.mgk2{
  width: 70%;
  height: 57vh;
}
.parent1{
  position: relative;
  height: 38vh;
}
.child1{
  position:absolute;
  top: 74%;
  font-size: 0.6em;
  color: white;
}
.parent2{
  position: relative;
}
.child2{
  font-size: 0.6em;
  color:white;
  position: absolute;
  top:83%;
}
.child3{
  position: absolute;
  top:75%;
  left: 40%;
  width: 40%;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
